<?xml version="1.0"?>
<config>
    <modules>
        <JR_AttributeOptionImage>
            <version>1.0.1</version>
        </JR_AttributeOptionImage>
    </modules>
    <global>
        <resources>
            <jr_attributeoptionimage_setup>
                <setup>
                    <module>JR_AttributeOptionImage</module>
                </setup>
            </jr_attributeoptionimage_setup>
        </resources>
        <models>
             <jr_attributeoptionimage>
                <class>JR_AttributeOptionImage_Model</class>
             </jr_attributeoptionimage>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <attribute>JR_AttributeOptionImage_Model_Catalog_Resource_Eav_Mysql4_Attribute</attribute>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>JR_AttributeOptionImage_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
            <eav_mysql4>
                <rewrite>
                    <entity_attribute_option>JR_AttributeOptionImage_Model_Eav_Mysql4_Entity_Attribute_Option</entity_attribute_option>
                </rewrite>
            </eav_mysql4>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>JR_AttributeOptionImage_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <attributeoptionimage>
                <class>JR_AttributeOptionImage_Helper</class>
            </attributeoptionimage>
            <cms>
                <rewrite>
                    <wysiwyg_images>JR_AttributeOptionImage_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JR_AttributeOptionImage before="Mage_Adminhtml">JR_AttributeOptionImage</JR_AttributeOptionImage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <update_layout>
                        <class>jr_attributeoptionimage/observer</class>
                        <method>updateLayout</method>
                    </update_layout>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
        </events>
    </adminhtml>
</config>